body {padding:0; margin:0;}
ul {padding:0; margin:0.25rem 0;}
li {list-style: none;}
hr {border:hidden; margin-bottom:5%;}
#header {
  padding:1rem;
  font-size:2rem;
  display: flex;
  position:relative;
  z-index:100;
  flex-direction: row;
  justify-content: space-between;
}
#header a {
  color:#000;
  text-decoration:none;
}
#header a:hover {
  cursor:pointer;
  color:#ccc;
	text-shadow:0.1rem 0.1rem #000;
  border-bottom:2px solid #000;
}
#org .label, .reset a, button
  {font-size:0.9rem;}
#org {
  position:fixed;
  top:7.5%; left:2.5%;
  z-index:10;
  padding:0.5rem;
  font-family: "Yuppy TC","HGP創英角ゴシックUB", cursive;
  background-color:rgb (255,255,255,0.5);
}
.book {
  display:block;
  position:relative;
  font-family: "Yuppy TC","HGP創英角ゴシックUB", cursive;
  width:100%;
  height:100vh;
  overflow:auto;
}
.book #think {
  position:relative;
  bottom:0;
  right:0;
  padding:0 2.5% 2.5%;
  width:90%;
  min-height:90vh;
  overflow-y:auto;
  display:flex;
	align-content:flex-start;
	flex-direction:row-reverse;
  flex-wrap: wrap-reverse;
}
.book #think li {
  position:relative;
  white-space:pre-wrap;
  font-size:0.75rem;
  border:#ccc solid 1px;
  padding:0.2rem;
}
#org ul {
  position:relative;
  display: flex;
  flex-wrap: wrap;
}
#org .label {
  display: inline-block;
  margin:0.25rem;
  padding:0.25rem;
  color: #000;
  border-radius:0.5rem;
}
#org .weight .label,
#org .size .label {
  font-size: 1.25rem;
  border:0.1rem solid #eee;
}
#org .sub {
  position:absolute;
  font-size: 1.5rem;
  right:0; top:0;
  font-family: "MS Serif", "Times New Roman";
}
#org .note {
  font-size:0.75rem;
  margin:1rem 0 0.5rem;
  width:100%;
}
#org .note b {
  width:100%;
  text-align:center;
  display:inline-block;
  margin-bottom:0.5rem;
  font-size:125%;
  color:#fff;
	text-shadow:0.1rem 0.1rem #000;
}
#org .label:hover {
  cursor:pointer;
  color:#fff;
  background-color:#eee;
	text-shadow:0.1rem 0.1rem #000;
}
#org textarea {
  font-size:1.5rem;
  border:0.1rem solid;
  border-radius:0.5rem;
  width:100%; height:2.2rem;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  color:#fff;
  background-color:#eee;
	text-shadow:0.1rem 0.1rem #fff;
}

.is-hide,
.nothing,
.none
{display:none;}

.reset a, button {
  display:inline-block;
  text-align:center;
  padding:0.25rem 0.75rem;
  margin: 0.25rem 0;
  background: #fff;
  text-shadow:0.1rem 0.1rem #fff;
  cursor: pointer;
  border: 1px solid #000;
  border-radius:0.5rem;
}
.reset button {width:100%;}
.reset a:hover, button:hover {
  color:#fff;
  background: #eee;
	text-shadow:0.1rem 0.1rem #000;
}