#support a {
  color: #000;
  text-decoration: none;
}
#support a:hover {
  color: #000;
  font-style:oblique;
}
#support {
  font-size: 0.9rem;
  font-family: "ＭＳ 明朝","MS Mincho", serif;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  -webkit-align-items: normal;
  align-items: normal;
  padding: 0; margin: 0;
  list-style-type: none;
}
#support h1 {
  font-size: 150%;
  font-weight: normal;
  letter-spacing: 0.05rem;
}
#support h2 {
  font-size: 125%;
  color: red;
  text-decoration:underline wavy red;
  font-weight: normal;
  letter-spacing: 0.05rem;
}
#support li {
  width: 45%;
  padding: 2.5%;
}
#support i {
  display:inline-block;
  font-size:75%;
}
#join {text-align: center;}
#join input[type="number"] {
  width:60%;
  font-size:1rem;
  padding:0.5rem;
}

@media screen and (max-width: 750px){
#support {font-size: 90%;}
#support li {
  width: 90%; margin: auto;}
}
