<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="random.css"/>
<link rel="stylesheet" type="text/css" href="../cv/greating.css"/>
<style type="text/css">
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
$("#menu").load("../menu/");
$("#cv_link").load("../cv/link.html");
})
</script>
<title> Random | Your Name </title>
</head>
<body>
<div id="menu"></div>
<div id="greating">
<div class="page">
<div class="random"></div>
</div>
<div id="cv_link"></div>
</div>
<script src="random.js" type="text/javascript"></script>
</body>
</html>
