#url_list {
  font-size:4.5vw;
  padding:4.5vw 0 0;
  letter-spacing:0.05rem;
}
#url_list .jp {
  font-size:45%;
}
.url {
  color:#000;
  display:inline-block;
  text-decoration:none;
  letter-spacing: 0.05rem;
  border-bottom: 0.1rem dotted;
}
.url:hover {
  color:#fff;
  background:#000;
}
