#links {
  line-height:200%;
  font-size: 1rem;
  padding: 0.5rem 0;
}
#links a {
  display:inline;
  color:#fff;
  background:blue;
  text-decoration:none;
  padding:0.25rem 0.5rem;
  filter: blur(1);
  -webkit-filter: blur(1);
  transition: all 1500ms ease;
}

#links a,
#links b,
#links u,
#links i {
  margin:0.25rem 0.25rem 0.25rem 0;
}