#catalog {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 0.25rem 0;
    margin: 0;
    list-style-type: none;
}

#catalog .list_item {
    margin: 2.5%;
    position: relative;
    filter: blur(0.25vw);
    transition: all 500ms ease;
}

#catalog .list_item:hover {
    filter: blur(0);
}

.a1 {
    width: 40vw;
}

.a2 {
    width: 33.3vw;
}

.a3 {
    width: 25vw;
}

.a4 {
    width: 22vw;
}

.a5 {
    width: 15.5vw;
}

.b5 {
    width: 14.5vw;
}

.a6 {
    width: 12.5vw;
}

.note {
    width: 10vw;
}

.min {
    width: 7.5vw;
}

.org .list_item img {
    width: 100%;
    pointer-events: none;
    user-select: none;
}

.org .what {
    position: relative;
    z-index: 1;
    margin: 0.5rem 0;
}

.org .date {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
    text-decoration: double underline;
}

.org .list_item a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    text-indent: -999px;
}