#catalog {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
}

#catalog .list_item {
    position: relative;
    padding: 0;
    margin: 2.5vh 2.5vw;
}

.a1 {
    width: 75vw;
    max-width: 27.5rem;
}

.a3 {
    width: 50vw;
    max-width: 20rem;
}

.a4 {
    width: 45vw;
    max-width: 17.5rem;
}

.a5 {
    width: 30vw;
    max-width: 12rem;
}

.b5 {
    width: 35vw;
    max-width: 11rem;
}

.a6 {
    width: 25vw;
    max-width: 8rem;
}

.note {
    width: 20vw;
    max-width: 5rem;
}

.min {
    width: 12.5vw;
    max-width: 4.5rem;
}

.org .list_item img {
    width: 100%;
    pointer-events: none;
    user-select: none;
}

.org .list_item a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    text-indent: -999px;
}