.tab {
  font-family:Arial,san-serif;
  color:#000;
  text-decoration:none;
}
.tab:hover,
.check b {
  color:blue;
}

#menu {
    position: relative;
    width: 100%;
}
#inside {
  font-size:2.5vw;
  width:90%;
  margin:0 auto 5rem;
}

.check {
  float:left;
  opacity:1;
  display:inline-block;
  width:2.5vw;
  margin-right:2.5vw;
  text-align:center;
}
#inside .check {
  margin-right:7.5vw;
}
#inside .check:before {
	content:'[';
    opacity:1;
}
#inside .check:after {
	content:']';
    opacity:1;
}
#profile_o b,
#up_o b,
#show_o b,
#merch_o b,
#mobile_o b {
  opacity: 0;
}
#profile:hover + #profile_o b,
#up:hover + #up_o b,
#show:hover + #show_o b,
#merch:hover + #merch_o b,
#mobile_open a:hover + #mobile_o b {
  opacity: 1;
}